body{
  background-color: #FFF
}
.intro{
  color: rgb(225, 155, 175);
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 1cm;
}
.name
{
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;

}
.slogan{
  text-align: center;
  margin-top: 30px;
  color: rgba(2, 1, 2, 0.932);
  font-size: 20;
  }


  .saiba{
    font-size: 18px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
    text-align: center;

  }

img{
  height: 200px;
  width: 200px;
  margin-top: 40;
}

.matheus{
  text-align: center;
}
